Button, ExportButton, LogoutButton {
    -fx-background-color: #A6B3E6;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 17px;
    -fx-cursor: hand;
}

.smallButton {
    -fx-font-size: 12px;
}

Text {
    -fx-fill: black;
}

PasswordField {
    -fx-prompt-text-fill: #777777;
}

#header {
    -fx-background-color: #5667B5;
}

#title {
    -fx-fill: whitesmoke;
    -fx-font-family: "Calibri";
    -fx-font-size: 28px;
}

