Button, ExportButton, LogoutButton {
    -fx-background-color: #A6B3E6;
}

Text {
    -fx-fill: black;
}

PasswordField {
    -fx-prompt-text-fill: #777777;
}

#header {
    -fx-background-color: #5667B5;
}

#title {
    -fx-fill: whitesmoke;
}

